#switch-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	border-radius: 25px;
	background: var(--color-dark);
	width: calc(100% + 10px);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
#switch-button > .switch-item {
	padding: 5px 15px;
	border-radius: 25px;
	cursor: pointer;
}
