.button-green {
	color: white;
	padding: 15px 25px;
	border-radius: 5px;
	cursor: pointer;
}

.button-green > span {
	color: white;
}

.button-timer {
	padding: 6px 15px;
	border-radius: 25px;
	width: fit-content;
}
.button-timer > p {
	color: rgba(65, 86, 103, 1);
	font-size: 20px;
}

.icon-button {
	background: var(--color-dark);
	height: 50px;
	width: 50px;
	border-radius: 50%;
}