/* Category Card CSS Starts here */

.category-card-container {
	background: white;
	border-radius: 20px 20px 0px 0px;
	min-height: 100px;
	width: calc(33% - 15px);
	padding: 20px 15px;
	text-align: center;
	position: relative;
}

.category-card-container > .category-card-img-container {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 10px;
}

.category-card-container > h2 {
	font-weight: 600;
	color: black;
	margin: 10px 0px;
	font-size: 18px;
}

.category-card-container > p {
	font-weight: 600;
	color: var(--color-gray);
	font-size: 14px;
	margin-bottom: 20px;
}

.category-card-container > .description {
	font-weight: 500;
	color: var(--color-gray);
	font-size: 14px;
	margin: 15px 0px;
	color: rgba(26, 27, 31, 1);
}

.category-card-container > .tags-container {
	/* width: 75%; */
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: 150px;
}

.category-card-container > .tags-container > .tag,
.tag-show-more {
	padding: 7px 12px;
	background: rgba(245, 247, 250, 1);
	border-radius: 20px;
	color: rgba(34, 37, 41, 0.8);
	font-weight: 500;
	font-size: 12px;
	margin: 5px;
	cursor: pointer;
}

.category-card-container > .tags-container > .tag-show-more {
	background: rgba(255, 144, 64, 1);
	color: rgba(255, 255, 255, 1);
}

.category-card-container-button {
	background: var(--color-dark);
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	margin: auto;
	margin-top: 40px;
}

/* Category Card CSS Ends here */

/* Interview Card CSS Starts here */

.interview-card-container {
	background: white;
	border-radius: 20px;
	min-height: 100px;
	width: calc(33% - 10px);
	padding: 40px 20px;
	margin-bottom: 20px;
}

.interview-card-container > .interview-card-header {
	display: flex;
	align-items: center;
}

.interview-card-heading > h1 {
	font-weight: 600;
	font-size: 15px;
}

.interview-card-heading > p {
	font-weight: 500;
	font-size: 12px;
	color: rgba(143, 156, 165, 1);
	margin-top: 5px;
}

.interview-card-container > p {
	font-weight: 400;
	font-size: 14px;
	color: rgba(26, 27, 31, 1);
	margin: 20px 0px;
	margin-bottom: 40px;
}

.interview-card-container > .info-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.interview-card-container > .info-container > .info > p {
	font-size: 13px;
}

.interview-card-progress-bar-container {
	margin-top: 25px;
}

.interview-card-progress-bar-container > .interview-card-progress-bar {
	height: 5px;
	border-radius: 5px;
	background: rgba(240, 242, 245, 1);
}

.interview-card-progress-bar-container
	> .interview-card-progress-bar
	> .interview-card-progress-bar-fill {
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(90deg, #0280D4 0%, #0ADAB0 113.36%);
}

.interview-card-progress-bar-container > p {
	font-size: 13px;
	font-weight: 500;
	margin-top: 15px;
}

/* Interview Card CSS Ends here */

/* Assessment Card CSS Starts here */

.assessment-card-container {
	background: white;
	border-radius: 20px;
	width: 180px;
	min-height: 100px;
	padding: 20px;
	margin: 6px;
	margin-bottom: 20px;
	flex: 0 0 32%;
	box-shadow: 0px 1px 2px gray;
}

.assessment-card-icon-container {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

.assessment-card-container > p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 12px;
}

.assessments-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	border-top: 1px solid gray;
	padding-top: 15px;
}

.assessments-bottom > h2 {
	font-weight: 400;
	font-size: 22px;
}
/* Assessment Card CSS Ends here */

/* Subscription Card CSS Starts here */

.subscription-card-container {
	background: white;
	border-radius: 15px;
	min-height: 415px;
	cursor: text;
	padding: 20px;
	margin-bottom: 20px;
	flex: 0 0 32%;
	box-shadow: 2px 3px 4px grey;
}

.subscription-card-container > .banner {
	margin: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.subscription-card-container > .banner > h2 {
	font-size: 18px;
	font-family: Roboto;
	margin-bottom: 10px;
}

.subscription-card-container > .banner > h6 {
	color: #1EC3CB;
	font-size: 14px;
}

.subscription-card-container > p {
	color: #252525;
	font-size: 13px;
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	line-height: 250%;
}

.subscription-card-description {
	font-size: 12px;
	line-height: 200%;
}

/* subscription Card CSS Ends here */

/* promocode CSS starts here */

.promo-code {
	margin: 25px;
	margin-top: 0px;
	border-radius: 5px 0px;
	width: 27%;
	padding: 15px;
	background-color: white;
	box-shadow: 2px 3px 5px 1px gray;
}

.promo-code > h5 {
	color: navy;
	margin-bottom: 5px;
}

.promo-code > input {
	outline: none;
	border: 1px solid gray;
	padding: 3px;
	width: 85%;
}

/* promocode CSS ends here */