#layout-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: var(--gradient-background);
  display: flex;
  justify-content: space-between;
  align-items: start;
  z-index: 100;
}

#layout-wrapper > #layout-wrapper-sidebar-container {
  width: 20%;
  height: 100vh;
  overflow-y: scroll;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  background: var(--color-white);
  position: relative;
  z-index: 10;
}

#layout-wrapper
  > #layout-wrapper-sidebar-container
  > #layout-wrapper-sidebar-toggle-button {
  position: absolute;
  top: 20px;
  left: 100%;
  transform: translateX(-50%);
  width: fit-content;
  height: fit-content;
  z-index: 20;
}

#layout-wrapper-sidebar-container::-webkit-scrollbar {
  width: 0px;
}

#layout-wrapper > #layout-wrapper-page-container {
  flex-grow: 1;
  height: 100vh;
  overflow-y: scroll;
  z-index: 10;
}
